@charset "utf-8";


#breadcrumb {
    width: calc(50% - 80px);
}


/* ====================== Restaurant Details ====================== */

.inside #map-container {
	height: 87%;
	position: fixed;
	right: 0;
	top: 80px;
	width: 50%;
}
  .inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
	top: 0px;
  }
  
#restaurant-container, #reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;
	padding: 140px 40px 30px;
	width: 50%;
}

#reviews-container {
	padding: 20px 0px 80px 40px;
}

#restaurant-img {
	width: 90%;
}

#restaurant-cuisine {
	width: 90%;
}

#reviews-list li {
	/* padding: 0 20px 20px; */
	width: 85%;
}